%ul.nav-links.search-filter
  - if @project
    %li{ class: ("active" if @scope == 'blobs') }
      = link_to search_filter_path(scope: 'blobs') do
        Code
        %span.badge
          = @search_results.blobs_count
    %li{ class: ("active" if @scope == 'issues') }
      = link_to search_filter_path(scope: 'issues') do
        Issues
        %span.badge
          = @search_results.issues_count
    %li{ class: ("active" if @scope == 'merge_requests') }
      = link_to search_filter_path(scope: 'merge_requests') do
        Merge requests
        %span.badge
          = @search_results.merge_requests_count
    %li{ class: ("active" if @scope == 'milestones') }
      = link_to search_filter_path(scope: 'milestones') do
        Milestones
        %span.badge
          = @search_results.milestones_count
    %li{ class: ("active" if @scope == 'notes') }
      = link_to search_filter_path(scope: 'notes') do
        Comments
        %span.badge
          = @search_results.notes_count
    %li{ class: ("active" if @scope == 'wiki_blobs') }
      = link_to search_filter_path(scope: 'wiki_blobs') do
        Wiki
        %span.badge
          = @search_results.wiki_blobs_count
    %li{ class: ("active" if @scope == 'commits') }
      = link_to search_filter_path(scope: 'commits') do
        Commits
        %span.badge
          = @search_results.commits_count

  - elsif @show_snippets
    %li{ class: ("active" if @scope == 'snippet_blobs') }
      = link_to search_filter_path(scope: 'snippet_blobs', snippets: true, group_id: nil, project_id: nil) do
        Snippet Contents
        %span.badge
          = @search_results.snippet_blobs_count
    %li{ class: ("active" if @scope == 'snippet_titles') }
      = link_to search_filter_path(scope: 'snippet_titles', snippets: true, group_id: nil, project_id: nil) do
        Titles and Filenames
        %span.badge
          = @search_results.snippet_titles_count

  - else
    %li{ class: ("active" if @scope == 'projects') }
      = link_to search_filter_path(scope: 'projects') do
        Projects
        %span.badge
          = @search_results.projects_count
    %li{ class: ("active" if @scope == 'issues') }
      = link_to search_filter_path(scope: 'issues') do
        Issues
        %span.badge
          = @search_results.issues_count
    %li{ class: ("active" if @scope == 'merge_requests') }
      = link_to search_filter_path(scope: 'merge_requests') do
        Merge requests
        %span.badge
          = @search_results.merge_requests_count
    %li{ class: ("active" if @scope == 'milestones') }
      = link_to search_filter_path(scope: 'milestones') do
        Milestones
        %span.badge
          = @search_results.milestones_count
    - if current_application_settings.elasticsearch_search?
      %li{ class: ("active" if @scope == 'blobs') }
        = link_to search_filter_path(scope: 'blobs') do
          Code
          %span.badge
            = @search_results.blobs_count
      %li{ class: ("active" if @scope == 'commits') }
        = link_to search_filter_path(scope: 'commits') do
          Commits
          %span.badge
            = @search_results.commits_count
